a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: 0 0;
}@font-face {
	font-family: 'icomoon';
	src:  url('icomoon.eot?3ming3');
	src:  url('icomoon.eot?3ming3#iefix') format('embedded-opentype'),
		url('icomoon.ttf?3ming3') format('truetype'),
		url('icomoon.woff?3ming3') format('woff'),
		url('icomoon.svg?3ming3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
.socialmedia li,
.gcb_navigation_arrow,
.prgClick:before,
.selectHotel:before, .selectAdults:before, .selectChildren:before, .calicon, #cbcheckin,
.ui-datepicker-prev:before, .ui-datepicker-next:before,
p > strong > a:before, button:before, .button:before,
.promotions-bgLink:before,
.newslettersubscribe .holder > form > div:last-of-type:before,
.bx-controls-direction a {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before,
.calicon:before, #cbcheckin:before {
	content: "\e909";
}
.icon-mail_outline:before {
	content: "\e907";
}
.icon-pause_circle_outline:before {
	content: "\e905";
}
.icon-play_circle_outline:before {
	content: "\e906";
}
.icon-keyboard_arrow_up:before {
	content: "\e900";
}
.icon-keyboard_arrow_right:before,
.next:before,
.ui-datepicker-next:before,
.bx-next:before {
	content: "\e901";
}
.icon-keyboard_arrow_left:before,
.previous:before,
.ui-datepicker-prev:before,
.bx-prev:before {
	content: "\e902";
}
.icon-keyboard_arrow_down:before,
.selectHotel:before, .selectAdults:before, .selectChildren:before {
	content: "\e903";
}
.icon-location:before {
	content: "\e947";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-spinner11:before {
	content: "\e984";
}
.icon-menu2:before {
	content: "\e9be";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-heart:before {
	content: "\e9da";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-arrow-up-left2:before {
	content: "\ea39";
}
.icon-arrow-up2:before {
	content: "\ea3a";
}
.icon-arrow-up-right2:before {
	content: "\ea3b";
}
.icon-arrow-right2:before,
p > strong > a:before, button:before, .button:before,
.promotions-bgLink:before,
.newslettersubscribe .holder > form > div:last-of-type:before {
	content: "\ea3c";
}
.icon-arrow-down-right2:before {
	content: "\ea3d";
}
.icon-arrow-down2:before {
	content: "\ea3e";
}
.icon-arrow-down-left2:before {
	content: "\ea3f";
}
.icon-arrow-left2:before {
	content: "\ea40";
}
.icon-share:before {
	content: "\ea82";
}
/* social media networks */
.google:before {
	content: "\ea8b";
}
.facebook:before {
	content: "\ea90";
}
.instagram:before {
	content: "\ea92";
}
.twitter:before {
	content: "\ea96";
}
.blog:before {
	content: "\ea9b";
}
.youtube:before {
	content: "\ea9d";
}
.vimeo:before {
	content: "\eaa0";
}
.flickr:before {
	content: "\eaa5";
}
.tumblr:before {
	content: "\eab9";
}
.linkedin:before {
	content: "\eaca";
}
.tripadvisor:before {
	content: "\e908";
}
.pinterest:before {
	content: "\e904";
}
